<%= form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control"%>
  </p>
  <p>
    Post Text<br>
    <%= f.trix_editor :body, :class => "editor" %>
  </p>
  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit :class => "btn btn-success" %>
  </p>
<% end %>
