<h1><%= @post.title %></h1>
<%= image_tag  @post.image.url(:large), class: 'img-show' if @post.image? %>
<p><%= @post.body.html_safe %></p>
<% if user_signed_in? and current_user.admin %>
  <hr>
  <%= link_to "Edit", edit_admin_post_path(@post), :class => 'btn btn-warning' %>
  <%= link_to "Delete", admin_post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, :class => 'btn btn-danger' %>
<% end %>
<hr>
<h2>All Comments</h2>
<%= render @post.comments %>
  <% if user_signed_in? %>
  <hr>
  <h2>Add a comment</h2>
  <%= render 'comments/form' %>
<% end %>